<div class="col-lg-4 col-md-4">
  <div class="impl_fea_car_box">
    <div class="impl_fea_car_img">
      <img src="@img/korea/page1/car8/korea-1-car-15.jpeg" alt="{{name}}" class="img-fluid impl_frst_car_img">
      <img src="@img/korea/page1/car8/korea-1-car-16.jpeg" alt="{{name}}" class="img-fluid impl_hover_car_img">
      <span class="impl_img_tag" title="compare">
        <i class="fa fa-exchange" aria-hidden="true"></i>
      </span>
    </div>
    <div class="impl_fea_car_data">
      <h2>{{name}}</h2>
      <ul>
        <li>
          <span class="impl_fea_title">модель</span>
          <span class="impl_fea_name">{{model}}</span>
        </li>
        <li>
          <span class="impl_fea_title">год</span>
          <span class="impl_fea_name">{{year}}</span>
        </li>
        <li>
          <span class="impl_fea_title">пробег</span>
          <span class="impl_fea_name">{{driven}}</span>
        </li>
        <li>
          <span class="impl_fea_title">топливо</span>
          <span class="impl_fea_name">{{fuel}}</span>
        </li>
      </ul>
      <div class="impl_fea_btn">
        <a href="#call" data-toggle="modal" class="impl_btn">
          <span class="impl_doller">
            {{cost}} ₽
          </span>
          <span class="impl_bnw">заказать</span>
        </a>
      </div>
    </div>
  </div>
</div>